{% extends "partials/layout.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set mainClasses = "govuk-body" %}

{% set fullPageTitle = step.title + ' - ' + ancestors[0].title %}
{% set pageTitle %}
  {{ fullPageTitle }}
{% endset %}

{% block content %}
  {% if fieldValidationErrors | length %}
    {{ govukErrorSummary({
      titleText: "There is a problem",
      errorList: fieldValidationErrors | toErrorSummary
    }) }}
  {% endif %}

  <form id="main-form" method="post" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% for block in blocks %}
      {{ block | safe }}
    {% endfor %}
  </form>
{% endblock %}
