{% extends "partials/layout.njk" %}

{% from "govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% set mainClasses = "govuk-body" %}

{% set fullPageTitle = step.title + ' - ' + ancestors[0].title %}
{% set pageTitle %}
  {{ fullPageTitle }}
{% endset %}

{% block content %}
  {% set sidebarIndex = twoColumnLayout.sidebarBlockIndex if twoColumnLayout else -1 %}

  <form id="main-form" method="post" novalidate>
    <input type="hidden" name="_csrf" value="{{ csrfToken }}">

    {% if twoColumnLayout %}
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
          {{ blocks[sidebarIndex] | safe }}
        </div>
        <div class="govuk-grid-column-three-quarters">
          {{ govukErrorSummary({
            titleText: "There is a problem",
            errorList: fieldValidationErrors | toErrorSummary
          }) if fieldValidationErrors | length }}

          {% for block in blocks %}
            {{ block | safe if loop.index0 != sidebarIndex }}
          {% endfor %}
        </div>
      </div>
    {% else %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: fieldValidationErrors | toErrorSummary
      }) if fieldValidationErrors | length }}

      {% for block in blocks %}
        {{ block | safe }}
      {% endfor %}
    {% endif %}
  </form>
{% endblock %}
